#d10{
width: 100%;
height: 83px;
/* border:5px solid black; */
display: flex;
background-color: black;
position: sticky;
    top: 0;
}

#d11{
padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

#d20{
    height: 664px;
    width: 100%;
    /* height: 950px; */
    background-color: black;
    display: flex;
    justify-content: center;
}
#d21{
    width: 1536px;
    height: 100%;
    /* border: 1px solid white; */
   display: flex;
   /* justify-content: center; */
   align-items: center;
    
}
#d22{
    width: 512px;
    height: 604px;
    padding: 0 40px;
    margin-left: 80px;
    /* padding-bottom: 30px; */
}
#d23{
    width:1024px;
    height: 306px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid white; */
    margin-left: 80px;
    /* margin-right: 80px; */
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 170px;
    
}
#d24{
    height: 120px;
    width: 1024px;
    font-family: sans-serif;
    font-size: 120px;
    color: #0025FF;
    margin: 40px 0 0;

    /* font-weight:; */
}
#d25{
    width: 1024px;
    height: 60px;
    color: #FFFFFF;
    margin: 0 0 40PX;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 19px;
    /* text-align: center; */
}
#d26{
    width: 410px;
    height: 28px;
    color: #FFFFFF;
    margin: 0 0 8px;
    font-size: 20px;
    font-family: sans-serif;
    /* font-weight: 700px; */
    /* text-align: center;  */
    text-align: center;
    margin-left: 125px;
    /* margin-left: 100px; */
}

#d30{
    width: 100%;
    height: 83px;
    background-color: black;
}
#d40{
    width: 100%;
    height: 653px;
    background-color: black;
    display: flex;
}
#d41{
   background-image: url(./images/3303501_Pepsicom_2025_Work_October_Drop_R1_Hero\ 1728\ x\ 961.png);
   width: 1145px;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
#d42{
    width: 764px;
    height: 100%;
}
#d43{
    width: 400px;
    height: 583px;
    /* border: 1px solid #FFFFFF; */
    /* padding-bottom: ; */
    margin-left: 60px;
    margin-top: 60px;
}
#d44{
    width: 391px;
    height: 136px;
    /* border: 1px solid #FFFFFF; */
    
}
#strong1{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 18px;
}
#d45{
    width: 298px;
    height: 56px;
    /* border: 1px solid #FFFFFF; */
}
#btn1{
    border-radius: 20px;
    width: 299PX;
    height: 56px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #0025ff;
    cursor: pointer;
    font-weight: bolder;
}
#btn1:hover{
    background-color: #FFFFFF;
    color: #0025FF;
}
#d46{
    width: 400px;
    height: 48px;
    /* border: 1px solid #FFFFFF; */
    margin: 20px 0;
}
a{
    font-size: 12px;
    color: #FFFFFF;
    font-style: italic;
    line-height: 1rem;
    text-decoration: inherit;
}
#d39{
    margin-bottom: 30px;
}

#d50{
    width: 1908px;
    height: 1074px;
    /* background-color: black; */
}
#d60{
    width: 100%;
    height: 658px;
    background-color: black;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    
}
#d61{
    width: 100%;
    height: 658px;
    border: #FFFFFF 1px solid;
}
